In [4]:
import torch
import pandas as pd
import numpy as np
from torch import nn

In [ ]:
data_path = "data/"
train_data = pd.read_csv(f"{data_path}time_series_train_data.csv")
test_data = pd.read_csv(f"{data_path}time_series_test_data.csv")

In [7]:
train_data

,Year,Month,Location Group,District,Community Area,Season,crime_count,crime_count_lag1,crime_count_lag2,crime_count_lag3,crime_count_lag12,crime_count_ma3,crime_count_ma6,sin_month,cos_month
0,2021,1,AIRPORT,16.0,76.0,Winter,65,1.0,36.0,1.0,47.0,12.666667,23.666667,0.0,1.000000
1,2021,1,EDUCATIONAL,2.0,35.0,Winter,1,2.0,1.0,1.0,8.0,1.333333,1.666667,0.0,1.000000
2,2021,1,EDUCATIONAL,3.0,43.0,Winter,4,1.0,1.0,1.0,3.0,1.000000,1.000000,0.0,1.000000
3,2021,1,EDUCATIONAL,5.0,49.0,Winter,1,1.0,1.0,1.0,6.0,1.000000,1.333333,0.0,1.000000
4,2021,1,EDUCATIONAL,6.0,71.0,Winter,2,2.0,1.0,2.0,9.0,1.666667,1.666667,0.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35224,2023,12,TRANSPORTATION,25.0,20.0,Fall,5,7.0,7.0,3.0,3.0,5.666667,4.333333,-0.5,0.866025
35225,2023,12,TRANSPORTATION,25.0,21.0,Fall,1,2.0,4.0,2.0,2.0,2.666667,2.833333,-0.5,0.866025
35226,2023,12,TRANSPORTATION,25.0,22.0,Fall,1,7.0,15.0,2.0,1.0,8.000000,6.166667,-0.5,0.866025
35227,2023,12,TRANSPORTATION,25.0,23.0,Fall,3,11.0,5.0,2.0,14.0,6.000000,6.166667,-0.5,0.866025
35228,2023,12,TRANSPORTATION,25.0,25.0,Fall,4,33.0,4.0,7.0,26.0,14.666667,14.500000,-0.5,0.866025

In [8]:
df_analysis = pd.DataFrame(
    {
        "train_nunique": train_data.nunique(),
        "train_null": train_data.isnull().sum(),
        "train_dtype": train_data.dtypes,
        "test_nunique": test_data.nunique(),
        "test_null": test_data.isnull().sum(),
        "test_dtype": test_data.dtypes,
    }
)
df_analysis

,train_nunique,train_null,train_dtype,test_nunique,test_null,test_dtype
Year,3,0,int64,1,0,int64
Month,12,0,int64,12,0,int64
Location Group,17,0,object,18,0,object
District,23,0,float64,23,0,float64
Community Area,77,0,float64,77,0,float64
Season,4,0,object,4,0,object
crime_count,308,0,int64,267,0,int64
crime_count_lag1,308,0,float64,267,0,float64
crime_count_lag2,309,0,float64,266,0,float64
crime_count_lag3,309,0,float64,266,0,float64
crime_count_lag12,311,0,float64,273,0,float64
crime_count_ma3,663,0,float64,575,0,float64
crime_count_ma6,1154,0,float64,953,0,float64
sin_month,11,0,float64,11,0,float64
cos_month,11,0,float64,11,0,float64

In [ ]:
seq_len = 12

In [ ]:
class three_layer_recurrent_net(nn.Module):

    def __init__(self, hidden_size):
        super(three_layer_recurrent_net, self).__init__()

        self.layer1 = nn.Embedding(vocab_size, hidden_size)
        self.layer2 = nn.RNN(hidden_size, hidden_size)
        self.layer3 = nn.Linear(hidden_size, vocab_size)

    def forward(self, word_seq, h_init):

        g_seq = self.layer1(word_seq)
        h_seq, h_final = self.layer2(g_seq, h_init)
        score_seq = self.layer3(h_seq)

        return score_seq, h_final